{% extends 'base.html.twig' %}
{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}

{% block body %}
    <div class="container">
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.content) }}
        <div class="col-sm-4">
            {{ form_widget(form.content, { 'attr': { 'placeholder': 'Content', 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.file) }}
        <div class="col-sm-4">
            {{ form_widget(form.file, { 'attr': { 'placeholder': 'File', 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
    </div>
    {{ form_end(form) }}

    {% if messages %}
    <table class="table table-bordered table-striped">
    <tbody>
    <tr>
        <th>Submitter</th>
        <th>Content</th>
        <th>File</th>
    </tr>
    {% for message in messages %}
        <tr>
            <td>{{ message.user.username }}</td>
            <td>{{ message.content }}</td>
            <td>
                {% if message.fileName %}
                    {% if message.mimeType == "application/pdf" or message.mimeType == "application/zip" %}
                        <a href="{{ path('download_file', {id: message.id}) }}">{{ message.fileName }}</a>
                    {% else %}
                        <a href="{{ path('download_file', {id: message.id}) }}"><img src="{{ vich_uploader_asset(message, 'file')|imagine_filter('my_thumb') }}"  alt="{{ message.fileName }}"/></a>
                    {% endif %}
                {% else %}
                    no file uploaded
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
        No Message!
    {% endif %}
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(messages) }}
    </div>
{% endblock %}